<!-- <div class="container">
  <div class="min-height">
      <div class="card">
          <div class="card-body">
              <form class="example-form" (ngSubmit)="onSubmit()">
                  <h4>Search Resource Request</h4>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="example-full-width">
                        <mat-form-field>
                          <input name="Request ID" matInput placeholder="Request ID">
                        </mat-form-field>
                      </div>
                  </div> 
                      <div class="col-lg-4">
                          <div class="example-full-width">  <mat-form-field>
                          <input matInput placeholder="location">
                        </mat-form-field></div>
                      </div>
                      <div class="col-lg-4">
                          <div class="example-full-width">  <mat-form-field>
                              <input matInput placeholder="Requestor">
                            </mat-form-field></div>
                      </div>
                  </div>
                
                  <div class="row">
                      <div class="col-lg-4"> <div class="example-container">
                          <mat-form-field>
                              <mat-select placeholder="Experience">
                                <mat-option value="1-2 Yrs">1-2 yrs</mat-option>
                                <mat-option value="2-4 Yrs">2-4 yrs</mat-option>
                                <mat-option value="5-7 Yrs">5-7 yrs</mat-option>
                                <mat-option value="8-10 Yrs">8-10 yrs</mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div></div>
                      <div class="col-lg-4">
                          <div class="example-full-width">  <mat-form-field>
                              <input matInput placeholder="Project Name">
                            </mat-form-field></div>
                      </div>
                      <div class="col-lg-4"> <div class="example-container">
                          <mat-form-field>
                              <mat-select placeholder="Request Status">
                                <mat-option value="Open">Open</mat-option>
                                <mat-option value="Close">Close</mat-option>
                                <mat-option value="Partial">Partial</mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div></div>
                     

                  </div>
                

              </div> 
                
                  <div class="row">
                      <div class="col-lg-4">

                          <button mat-stroked-button color="primary" type="submit">Search </button>
                      </div>
                  </div>

              </form>
              <br>
             <div *ngIf="submitted">
            
                  <h4>Search Request List</h4>
                 
                  <table class="table table-striped table-hover comm_table">
                      <thead>
                          <th>Request Id</th>
                          <th>Project Name</th>
                          <th>Location</th>
                          <th> Skills</th>
                          <th>Designation</th>
                          <th>Experience</th>
                          <th>Count</th>
                      </thead>
                      <tbody>
                          <tr>
                              <td>0896</td>
                              <td> Contract Generation</td>
                              <td> andheri</td>
                              <td>Html5, java, angular 7, node js/td>
                              <td>angular developer</td>
                              <td>5</td>
                              <td>4</td>
                          </tr>
                      </tbody>
                  </table>
              
                  <div class="row">
                      <div class="col-lg-4">

                          <button mat-stroked-button color="primary" type="button" (click)="onRequest()">Export to excel </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->