<p>Market maker request for “
    <%= name %> ” has been
    <%= status %> by the Exchange.</p>
<% if(status!='approved') {%>
<p>Reason : <%= reason %>
</p>
<% } %>

<br>
<hr>
</p>This is an auto generated mail. Do not Reply</p>