<div class="container">
  <div class="min-height">
    <!-- <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Library</li>
      </ol>
    </nav> -->
    <div style="background: #ffffff;">
      <mat-tab-group mat-align-tabs="left">
        <mat-tab label="My Projects">
          <div class="card">
            <div class="card-body min-height">
              <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                  <div class="table-responsive">
                  <table class="table table-striped table-hover comm_table">
                    <thead class="thead-dark">
                      <tr>
                        <th><span i18n="@@Project Code"> </span></th>
                        <th><span i18n="@@Project name"> </span></th>
                        <th> <span i18n="@@Resource Count"> </span></th>
                        <th><span i18n="@@Start Date"> </span></th>
                        <th><span i18n="@@End Date"> </span></th>
                        <th><span i18n="@@Client"> </span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of ActiveProjects ">
                        <td>{{item.project_code}}</td>
                        <td><a [routerLink]="['/dashboard/Project/Create']"
                            [queryParams]="{project_name: item.project_name,project_id: item.id}">{{item.project_name}}
                          </a>
                        </td>
                        <td class="right-cell">{{item.resource_count}}</td>
                        <td>{{item.start_date | date:'dd/MM/yyyy':'+530'}}</td>
                        <td>{{item.end_date | date:'dd/MM/yyyy':'+530'}}</td>
                        <td>{{item.client}} </td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="My Resources">
          <div class="card">
            <div class="card-body min-height">
              <div class="row">
                <div class="col-lg-12">
                  <table class="table table-striped table-hover comm_table">
                    <thead class="thead-dark">
                      <tr>
                        <th><span>Code </span></th>
                        <th><span i18n="@@Resource Name"> </span></th>
                        <th><span i18n="@@Project"> </span></th>
                        <th><span i18n="@@% of allocation"> </span></th>
                        <th> <span i18n="@@Date of Allotment"> </span></th>
                        <th> <span i18n="@@Date of Release"> </span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of AssignedResource">
                        <td>{{item.code}}</td>
                        <td><a [routerLink]="['/dashboard/Resource/Create']"
                            [queryParams]="{employee: item.resource_id}">{{item.resource_name}}
                          </a>
                        </td>
                        <td>{{item.project}}</td>
                        <td class="right-celll">{{item.percentage_allocation | number : '1.2-2'}}</td>
                        <td>{{item.date_of_allocation | date:'dd/MM/yyyy':'+530'}}</td>
                        <td>{{item.date_of_release | date:'dd/MM/yyyy':'+530'}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Project Closure in 15 Days">
          <div class="card">
            <div class="card-body min-height">
              <div class="row">
                <div class="col-lg-12">
                  <table class="table table-striped table-hover comm_table">
                    <thead class="thead-dark">
                      <tr>
                        <th><span i18n="@@Project Code"> </span></th>
                        <th><span i18n="@@Project name"> </span></th>
                        <th><span i18n="@@Start Date"> </span></th>
                        <th><span i18n="@@End Date"> </span></th>
                        <th><span i18n="@@Client"> </span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of CloseProjects ">
                        <td>{{item.project_code}}</td>
                        <td><a [routerLink]="['/dashboard/Project/Create']"
                            [queryParams]="{project_name: item.project_name,project_id: item.id }">{{item.project_name}}
                          </a>
                        </td>
                        <td>{{item.start_date | date:'dd/MM/yyyy':'+530'}}</td>
                        <td>{{item.end_date | date:'dd/MM/yyyy':'+530'}}</td>
                        <td>{{item.client}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Resource Release in 15 Days">
          <div class="card">
            <div class="card-body min-height">
              <div class="row">
                <div class="col-lg-12">
                  <table class="table table-striped table-hover comm_table">
                    <thead class="thead-dark">
                      <tr>
                        <th><span>Code </span></th>
                        <th><span i18n="@@Resource Name"> </span></th>
                        <th><span i18n="@@Project"> </span></th>
                        <th><span i18n="@@% of allocation"> </span></th>
                        <th> <span i18n="@@Date of Allotment"> </span></th>
                        <th> <span i18n="@@Date of Release"> </span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of ReleasingResource">
                        <td>{{item.code}}</td>
                        <td><a [routerLink]="['/dashboard/Resource/Create']"
                            [queryParams]="{employee: item.resource_id}">{{item.resource_name}}
                          </a>
                        </td>
                        <td>{{item.project}}</td>
                        <td class="right-celll">{{item.percentage_allocation | number : '1.2-2'}}</td>
                        <td>{{item.date_of_allocation | date:'dd/MM/yyyy':'+530'}}</td>
                        <td>{{item.date_of_release | date:'dd/MM/yyyy':'+530'}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Project Start in 15 Days">
          <div class="card">
            <div class="card-body min-height">
              <div class="row">
                <div class="col-lg-12">
                  <table class="table table-striped table-hover comm_table">
                    <thead class="thead-dark">
                      <tr>
                        <th><span i18n="@@Project Code"> </span></th>
                        <th><span i18n="@@Project name"> </span></th>
                        <th><span i18n="@@Start Date"> </span></th>
                        <th><span i18n="@@End Date"> </span></th>
                        <th><span i18n="@@Client"> </span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of StartProjects ">
                        <td>{{item.project_code}}</td>
                        <td><a [routerLink]="['/dashboard/Project/Create']"
                            [queryParams]="{project_name: item.project_name,project_id: item.id}">{{item.project_name}}
                          </a>
                        </td>
                        <td>{{item.start_date | date:'dd/MM/yyyy':'+530'}}</td>
                        <td>{{item.end_date | date:'dd/MM/yyyy':'+530'}}</td>
                        <td>{{item.client}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>