<div class="container">
  <div class="min-height">
      <div class="card">
          <div class="card-body">
              <form class="example-form">
                <h4>Exit Resource</h4>
                <div class="row">
                    <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> 
                        <div class="example-full-width">
                          <mat-form-field>
                            <input matInput placeholder="Employee Name">
                          </mat-form-field>
                  </div>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> 
                          <div class="example-full-width">
                            <mat-form-field>
                              <input matInput placeholder="Employee Code">
                            </mat-form-field>
                    </div>
                        </div>
                   
                        <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> 
                            <div class="example-full-width">
                              <mat-form-field>
                                <input matInput placeholder="Designation">
                              </mat-form-field>
                      </div>
                          </div>
                    
                </div>
      
                <div class="row">
                    <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> 
                        <div class="example-full-width">
                          <mat-form-field>
                            <input matInput placeholder="Grade">
                          </mat-form-field>
                  </div>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> 
                          <div class="example-full-width">
                            <mat-form-field>
                              <input matInput placeholder="Location">
                            </mat-form-field>
                    </div>
                        </div>
                        <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> 
                            <div class="example-full-width">
                              <mat-form-field>
                                <input matInput placeholder="Gender">
                              </mat-form-field>
                      </div>
                          </div>
                </div>
      
                <div class="row">
                    <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> 
                        <div class="example-full-width">
                            <mat-form-field>
                                <input matInput [matDatepicker] = "picker3" placeholder = "DOJ">
                                <mat-datepicker-toggle matSuffix [for] = "picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                             </mat-form-field>
                  </div>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> 
                          <div class="example-full-width">
                              <mat-form-field>
                                  <input matInput [matDatepicker] = "picker1" placeholder = "DOB">
                                  <mat-datepicker-toggle matSuffix [for] = "picker1"></mat-datepicker-toggle>
                                  <mat-datepicker #picker1></mat-datepicker>
                               </mat-form-field>
                    </div>
                        </div>
                        <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> 
                            <div class="example-full-width">
                              <mat-form-field>
                                <input matInput placeholder="Total experience at joining">
                              </mat-form-field>
                      </div>
                          </div>
                </div>
      
                <div class="row">
                    <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> 
                        <div class="example-full-width">
                          <mat-form-field>
                            <input matInput placeholder="Relevant experience at joining">
                          </mat-form-field>
                  </div>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> 
                          <div class="example-full-width">
                            <mat-form-field>
                              <input matInput placeholder="NSEIT e-maild ID">
                            </mat-form-field>
                    </div>
                        </div>
                        <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> 
                            <div class="example-full-width">
                              <mat-form-field>
                                <input matInput placeholder="Mobile Number">
                              </mat-form-field>
                      </div>
                          </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> <div class="example-container">
          <mat-form-field>
              <mat-select placeholder="Resource Status">
                <mat-option value="Active">Active</mat-option>
                <mat-option value="Inactive">Inactive</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> <div class="example-container">
                          <mat-form-field>
                              <mat-select placeholder="Employee Type">
                                <mat-option value="Permanent Employee">Permanent Employee</mat-option>
                                <mat-option value="Consultant">Consultant</mat-option>
                                <mat-option value="Sub Consultant">Sub Consultant</mat-option>
                                <mat-option value="Internship">Internship</mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                        </div>
      
                        <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12"> <div class="example-container">
                            <mat-form-field>
                                <mat-select placeholder="Vertical">
                                  <mat-option value="option 1">option 1</mat-option>
                                  <mat-option value="option 2">option 2</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                          </div>
                </div>
      
                <div class="row">
                    <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
                      <div class="example-container">
                        <mat-form-field>
                            <mat-select placeholder="Sub Category">
                              <mat-option value="Option 1">Option 1</mat-option>
                              <mat-option value="Option 2">Option 2</mat-option></mat-select>
                          </mat-form-field>
                    </div>
                      </div>
                      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
                          <div class="example-container">
                            <mat-form-field>
                                <mat-select placeholder="Domain">
                                  <mat-option value="Option 1">Option 1</mat-option>
                                  <mat-option value="Option 2">Option 2</mat-option></mat-select>
                              </mat-form-field>
                        </div>
                          </div>
                   
                    <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Primary Skils" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let option of options" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                    </div>
                 
      
                </div>
      
                <div class="row">
                    <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
                        <div class="example-container">
                            <mat-form-field>
                              <input matInput placeholder="Seconday Skill">
                            </mat-form-field>
                    </div>
                </div>
              
                <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Level Of Expertise" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="levelofexpertise">
                        <mat-autocomplete #levelofexpertise="matAutocomplete">
                            <mat-option value="Beginner">Beginner</mat-option>
                            <mat-option value="Intermidiate">Intermidiate</mat-option>
                            <mat-option value="Expert">Expert</mat-option>
                          </mat-autocomplete>
                      </mat-form-field>
                </div>
      
                <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
                    <div class="example-container">
                        <mat-form-field>
                          <input matInput placeholder="Education/Certification">
                        </mat-form-field>
                </div>
            </div>
      </div>
      
      <div class="row">  <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
          <div class="example-full-width">
              <mat-form-field>
                <input matInput placeholder="Current Resident City">
              </mat-form-field>
        </div>
      </div>
         <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
            <div class="example-full-width">
                <mat-form-field>
                  <input matInput placeholder="Std Billing Rate">
                  <span matPrefix><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;</span>
                </mat-form-field>
          </div>
         </div>
         <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
            <div class="example-full-width">
                <mat-form-field>
                  <input matInput placeholder="Min  Billing Rate">
                  <span matPrefix><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;</span>
                </mat-form-field>
          </div>
         </div>
      
      </div>
      
      <div class="row">
          <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
              <div class="example-full-width">
                  <mat-form-field>
                      <input matInput placeholder="Recruiter Name">
                    </mat-form-field>
              </div>
              </div>
      
              <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
                  <div class="example-full-width">
                      <mat-form-field>
                          <input matInput placeholder="Current Resident City">
                        </mat-form-field>
                  </div>
                  </div>

              <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
                  <div class="example-full-width">
                      <mat-form-field>
                          <input matInput placeholder="Resident Location">
                        </mat-form-field>
                  </div>
                  </div>
   </div>

   <div class="row">
      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
          <div class="example-full-width">
              <mat-form-field>
                  <input matInput [matDatepicker] = "picker2" placeholder = "Exit Date">
                  <mat-datepicker-toggle matSuffix [for] = "picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
               </mat-form-field>
      </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
          <div class="example-container"> <button type="button" class="btn btn-secondary" >View Resume <i class="fa fa-eye" aria-hidden="true"></i></button></div></div>
   </div>
  
   <div class="row">   <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
      <button type="submit" mat-stroked-button color="primary"> Exit Resource</button>
    </div></div>

                </form>
          </div>
        </div>
  </div>

  </div>