<div class="container">
  <div class="min-height">
    <div class="card">
      <div class="card-body">
        <form class="example-form" [formGroup]="DataForm">
          <h4>Resource Detail {{resourcename}}</h4>
          <ngx-loading [show]="loading"></ngx-loading>
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input matInput [readonly]="role=='delivery'" placeholder="Name" i18n-placeholder="@@Employee Name"
                    name="Name" formControlName="empName" [(ngModel)]="EmployeeModel.name" autocomplete="off" required>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.empName"
                  [parent]="'Employee Name'"></control-messages>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input matInput [readonly]="role=='delivery'" placeholder="Code" i18n-placeholder="@@Employee Code"
                    formControlName="empCode" [(ngModel)]="EmployeeModel.code" autocomplete="off" required>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.empCode"
                  [parent]="'Employee Code'"></control-messages>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <mat-select matInput placeholder="Designation" i18n-placeholder="@@Designation"
                    formControlName="designation" [(ngModel)]="EmployeeModel.designation" required>
                    <!--  <mat-autocomplete #levelofexpertise="matAutocomplete"> -->
                    <mat-option [disabled]="role=='delivery'" *ngFor="let option of designationlist" [value]="option">
                      {{option}}</mat-option>
                    <!--  </mat-autocomplete> -->
                  </mat-select>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.designation"
                  [parent]="'Designation'"></control-messages>
              </div>
            </div>

          <!-- </div>
          <div class="row"> -->
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <mat-select matInput placeholder="Grade" i18n-placeholder="@@Grade" formControlName="grade"
                    [(ngModel)]="EmployeeModel.grade" required>
                    <!--  <mat-autocomplete #levelofexpertise="matAutocomplete"> -->
                    <mat-option [disabled]="role=='delivery'" *ngFor="let option of gradelist" [value]="option">
                      {{option}}</mat-option>
                    <!--  </mat-autocomplete> -->
                  </mat-select>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.grade" [parent]="'Grade'">
                </control-messages>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <mat-select placeholder="City" i18n-placeholder="@@City" formControlName="city"
                    [(ngModel)]="EmployeeModel.city" required>
                    <mat-option [disabled]="role=='delivery'" *ngFor="let option of CityList" [value]="option.city">
                      {{option.city}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.city" [parent]="'City'">
                </control-messages>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <mat-select [disabled]="!EmployeeModel.city" placeholder="Area" i18n-placeholder="@@Area"
                    formControlName="area" [(ngModel)]="EmployeeModel.area" required>

                    <mat-option [disabled]="role=='delivery'" *ngFor="let option of AreaList" [value]="option.area">
                      {{option.area}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.area" [parent]="'Area'">
                </control-messages>
              </div>
            </div>
          <!-- </div>
          <div class="row"> -->
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                   <mat-select  placeholder="Gender" i18n-placeholder="@@Gender"
                    formControlName="gender" [(ngModel)]="EmployeeModel.gender" autocomplete="off" required>
                     <mat-option [disabled]="role=='delivery'" value="Male">Male</mat-option>
                     <mat-option [disabled]="role=='delivery'" value="Female">Female</mat-option>
                    </mat-select>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.gender" [parent]="'Gender'">
                </control-messages>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input required matInput [readonly]="role=='delivery'" [matDatepicker]="picker2"
                    placeholder="Join Date" i18n-placeholder="@@DOJ" name="DOJ" formControlName="doj"
                    [(ngModel)]="EmployeeModel.doj" autocomplete="off">
                  <mat-datepicker-toggle matSuffix [for]="picker2" [disabled]="role=='delivery'">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.doj" [parent]="'Join Date'">
                </control-messages>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input required matInput [readonly]="role=='delivery'" [matDatepicker]="picker3"
                    placeholder="Birth Date" i18n-placeholder="@@DOB" name="DOB" formControlName="dob"
                    [(ngModel)]="EmployeeModel.dob" autocomplete="off">
                  <mat-datepicker-toggle matSuffix [for]="picker3" [disabled]="role=='delivery'">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.dob" [parent]="'Birth Date'">
                </control-messages>
              </div>
            </div>
          <!-- </div>
          <div class="row"> -->
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input type="number" matInput [readonly]="role=='delivery'" placeholder="Total Experience"
                    i18n-placeholder="@@Total experience" formControlName="totalexperience"
                    [(ngModel)]="EmployeeModel.total_experience" required autocomplete="off">
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.totalexperience"
                  [parent]="'Total experience'"></control-messages>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input type="number" matInput [readonly]="role=='delivery'" placeholder="Relevant Experience"
                    i18n-placeholder="@@Relevant experience" formControlName="relevantexperience"
                    [(ngModel)]="EmployeeModel.relevant_experience" autocomplete="off" required>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.relevantexperience"
                  [parent]="'Relevant experience'"></control-messages>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input type="email" matInput [readonly]="role=='delivery'" placeholder="EMail"
                    i18n-placeholder="@@NSEIT e-maild ID" formControlName="nseitemail"
                    [(ngModel)]="EmployeeModel.email_id" autocomplete="off" required>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.nseitemail"
                  [parent]="'NSEIT e-maild ID'"></control-messages>
              </div>
            </div>
          <!-- </div>
          <div class="row"> -->
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input type="number" matInput [readonly]="role=='delivery'" placeholder="Mobile Number"
                    i18n-placeholder="@@Mobile Number" formControlName="mobileNumber"
                    [(ngModel)]="EmployeeModel.contact" autocomplete="off" required>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.mobileNumber"
                  [parent]="'Mobile Number'"></control-messages>
              </div>
            </div>
            <!-- <div class="col-lg-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-select placeholder="Status" i18n-placeholder="@@Resource Status" formControlName="resStatus"
                    [(ngModel)]="EmployeeModel.status" required>

                    <mat-option [disabled]="role=='delivery'" value="A">Active</mat-option>
                    <mat-option [disabled]="role=='delivery'" value="N">Inactive</mat-option>
                  </mat-select>
                </mat-form-field>
               <control-messages class="validation-color" [control]="DataForm.controls.resStatus"
                  [parent]="'Resource Status'"></control-messages> 
              </div>
            </div> -->
            <div class="col-lg-4 col-md-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-select placeholder="Employee Type" i18n-placeholder="@@Employee Type" formControlName="empStatus"
                    [(ngModel)]="EmployeeModel.employment_status" required>

		
		    <mat-option [disabled]="role=='delivery'" value="Fixed Term Employment">Fixed Term Employment</mat-option>
                    <mat-option [disabled]="role=='delivery'" value="Permanent Employee">Permanent Employee</mat-option>
                    <mat-option [disabled]="role=='delivery'" value="Consultant">Consultant</mat-option>
                    <mat-option [disabled]="role=='delivery'" value="Sub Consultant">Subcon</mat-option>
                    <mat-option [disabled]="role=='delivery'" value="Internship">Internship</mat-option>
                  </mat-select>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.empStatus"
                  [parent]="'Employee type'"></control-messages>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-select placeholder="Domain" i18n-placeholder="@@Domain" formControlName="domain"
                    [(ngModel)]="EmployeeModel.domain">
                    <mat-option [disabled]="role=='delivery'" *ngFor="let option of DomainList" [value]="option.domain">
                      {{option.domain}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <control-messages class="validation-color" [control]="DataForm.controls.domain" [parent]="'Domain'">
                  </control-messages> -->
              </div>
            </div>

          <!-- </div>
          <div class="row"> -->
            <!-- <div class="col-lg-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-select placeholder="Vertical" i18n-placeholder="@@Vertical" formControlName="vertical">
                    
                    <mat-option value="option 1">option 1</mat-option>
                    <mat-option value="option 2">option 2</mat-option>
                    
                  </mat-select>
                </mat-form-field>
              </div>
            </div> -->
            <!-- <div class="col-lg-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-select placeholder="Sub Category" i18n-placeholder="@@Sub Category" formControlName="subCategory">
                    
                    <mat-option value="Option 1">Option 1</mat-option>
                    <mat-option value="Option 2">Option 2</mat-option>
                    

                  </mat-select>
                </mat-form-field>
              </div>
            </div> -->

            <div class="col-lg-4 col-md-4">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Primary Skill" i18n-placeholder="@@Primary Skills"
                  formControlName="primarySkills" aria-label="Number" matInput [(ngModel)]="EmployeeModel.primary_skill"
                  required>
                  <mat-option [disabled]="role=='delivery'" *ngFor="let option of PrimarySkillList"
                    [value]="option.primary_skill">
                    {{option.primary_skill}}</mat-option>

                </mat-select>
              </mat-form-field>
              <control-messages class="validation-color" [control]="DataForm.controls.primarySkills"
                [parent]="'Primary Skills'"></control-messages>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-select placeholder="Secondary Skill" i18n-placeholder="@@Secondary Skills"
                    formControlName="secondarySkills" [(ngModel)]="EmployeeModel.secondary_skill">
                    <mat-option [disabled]="role=='delivery'" *ngFor="let option of SecondarySkillList"
                      [value]="option.secondary_skill">
                      {{option.secondary_skill}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <control-messages class="validation-color" [control]="DataForm.controls.secondarySkills"
                  [parent]="'Secondary Skills'"></control-messages> -->
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-select placeholder="Level of Expertise" i18n-placeholder="@@Level Of Expertise"
                    formControlName="levelofexpertise" [(ngModel)]="EmployeeModel.levelofexpertise">
                    <!--  <mat-autocomplete #levelofexpertise="matAutocomplete"> -->
                    <mat-option [disabled]="role=='delivery'" *ngFor="let option of levelofExpertiseList"
                      [value]="option">{{option}}</mat-option>
                    <!--  </mat-autocomplete> -->
                  </mat-select>
                </mat-form-field>
                <!-- <control-messages class="validation-color" [control]="DataForm.controls.levelofexpertise"
                    [parent]="'Level Of Expertise'"></control-messages> -->
              </div>
            </div>

          <!-- </div>
          <div class="row"> -->

            <div class="col-lg-4 col-md-4">
              <div class="example-container">
                <mat-form-field>
                  <input [disabled]="role=='delivery'" matInput [readonly]="role=='delivery'" placeholder="Education"
                    i18n-placeholder="@@Education" formControlName="education" [(ngModel)]="EmployeeModel.education"
                    autocomplete="off" required>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.education"
                  [parent]="'Education'"></control-messages>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-container">
                <mat-form-field>
                  <input matInput [readonly]="role=='delivery'" placeholder="Certification"
                    i18n-placeholder="@@Certification" formControlName="certification"
                    [(ngModel)]="EmployeeModel.certification" autocomplete="off">
                </mat-form-field>
                <!-- <control-messages class="validation-color" [control]="DataForm.controls.certification"
                  [parent]="'Certification'"></control-messages> -->
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input type="number" matInput [readonly]="role=='delivery'" placeholder="Std Billing Rate"
                    i18n-placeholder="@@Std Billing Rate" formControlName="stdbillingRate"
                    [(ngModel)]="EmployeeModel.std_billing_rate" autocomplete="off">
                  <span matPrefix><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;</span>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.stdbillingRate"
                  [parent]="'Std Billing Rate'"></control-messages>
              </div>
            </div>

          <!-- </div>
          <div class="row"> -->
            <!-- <div class="col-lg-4">
              <div class="example-full-width">
                <mat-form-field>
                  <mat-select  placeholder="Current Resident City" i18n-placeholder="@@Current Resident City"
                    formControlName="currentResidentCity" [(ngModel)]="EmployeeModel.city">
                  
                    <mat-option [disabled]="role=='delivery'" *ngFor="let option of CityList" [value]="option.city">
                      {{option.city}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div> -->
            <!-- <div class="col-lg-4">
              <div class="example-full-width">
                <mat-form-field>
                  <mat-select placeholder="Current Resident Area" i18n-placeholder="@@Current Resident Area"
                    formControlName="currentResidentArea" [(ngModel)]="EmployeeModel.area">
                
                  <mat-option [disabled]="role=='delivery'"  *ngFor="let option of AreaList" [value]="option.area">
                    {{option.area}}</mat-option>
                </mat-select>
              </mat-form-field>
              </div>
            </div> -->

            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input type="number" matInput [readonly]="role=='delivery'" placeholder="Min Billing Rate"
                    i18n-placeholder="@@Min Billing Rate" formControlName="minbillingRate"
                    [(ngModel)]="EmployeeModel.min_billing_rate" autocomplete="off">
                  <span matPrefix><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;</span>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.minbillingRate"
                  [parent]="'Min Billing Rate'"></control-messages>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input type="number" matInput [readonly]="role=='delivery'" placeholder="Avg Billing Rate"
                    i18n-placeholder="@@Avg Billing Rate" formControlName="avgbillingRate"
                    [(ngModel)]="EmployeeModel.average_billing_rate" autocomplete="off">
                  <span matPrefix><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;</span>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.avgbillingRate"
                  [parent]="'Avg Billing Rate'"></control-messages>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="example-full-width">
                <mat-form-field>
                  <mat-select placeholder="Recruiter Name" i18n-placeholder="@@Recruiter Name"
                    formControlName="recruiterName" [(ngModel)]="EmployeeModel.recruiters_name" required>
                    <mat-option [disabled]="role=='delivery'" *ngFor="let option of HRList" [value]="option.name">
                      {{option.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DataForm.controls.recruiterName"
                  [parent]="'Recruiter Name'"></control-messages>
              </div>
            </div>
          <!-- </div>
          <div class="row"> -->

            <div class="col-lg-4 col-md-4" *ngIf="employee_id && (role=='rm' || role=='hr') ">
              <div class="example-container">
                <mat-form-field>
                  <input matInput  [matDatepicker]="picker1" placeholder="Exit Date"
                    i18n-placeholder="@@Exit date" name="exitDate" formControlName="exitDate"
                    [(ngModel)]="EmployeeModel.exit_date" autocomplete="off">
                  <mat-datepicker-toggle matSuffix [for]="picker1" >
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>


          </div>
          <!-- <div class="row" *ngIf="role!='delivery'">

              <div class="col-lg-4">
                <button type="button" mat-stroked-button color="primary" [disabled]="!DataForm.valid   "
                  (click)="onSubmit()">{{button}}</button>
              </div>
              <div class="col-lg-2 offset-lg-6" *ngIf="role=='hr' && !readonly">
                <div class="example-container">
                  <button type="button" mat-raised-button color="secondary" (click)="fileInput.click()">
                    <i class="fa fa-upload" aria-hidden="true"></i> &nbsp; Resume</button>
                  <p class="file_name"> {{ fileInput?.files[0]?.name }}</p>
                   <input hidden type="file" #fileInput>
                  <input hidden type="file" #fileInput (change)="selectFile($event)" />
                </div>
              </div>
              <div class="col-lg-2 offset-lg-6" *ngIf="role=='delivery' || readonly">
                <div class="example-container">
                  <button type="button" mat-raised-button color="secondary" (click)="downloadFile()">
                    <i class="fa fa-download" aria-hidden="true"></i> &nbsp; Resume</button>
                  <p class="file_name"> {{ fileInput?.files[0]?.name }}</p>
                   <input hidden type="file" #fileInput>
                </div>
              </div>
            </div> -->
            <div class="row" *ngIf="role!='delivery'">

                <div class="col-lg-2">
                  <div class="example-container">
                  <button type="button" mat-stroked-button color="primary" [disabled]="!DataForm.valid   "
                    (click)="onSubmit()">{{button}}</button>
                </div></div>
                <div class="col-lg-2 offset-lg-8" *ngIf="role=='hr' && !readonly">
                  <div class="example-container">
                    <button type="button" mat-raised-button color="secondary" (click)="fileInput.click()">
                      <i class="fa fa-upload" aria-hidden="true"></i> &nbsp; Resume</button>
                    <p class="file_name"> {{ fileInput?.files[0]?.name }}</p>
                    <!--  <input hidden type="file" #fileInput> -->
                    <input hidden type="file" #fileInput (change)="selectFile($event)" />
                  </div>
                </div>
                <div class="col-lg-2 offset-lg-8" *ngIf="role=='delivery' || readonly">
                  <div class="example-container">
                    <button type="button" mat-raised-button color="secondary" (click)="downloadFile()">
                      <i class="fa fa-download" aria-hidden="true"></i> &nbsp; Resume</button>
                    <p class="file_name"> {{ fileInput?.files[0]?.name }}</p>
                    <!--  <input hidden type="file" #fileInput> -->
                  </div>
                </div>
              </div>
        </form>
        <br><br><br>
        <!-- <i class="fa fa-file-excel-o ex_size" aria-hidden="true" (click)="ExportToExcel()"></i> -->
        <!-- <button class="col-lg-12" mat-raised-button color="secondary" i18n="@@Export to Excel" (click)="ExportToExcel()"> </button> -->
        <div *ngIf="hidden">
          <div class="row">
            <div class="col-lg-6">
              <h4 *ngIf="role=='delivery' || role=='rm' || role=='hr'">Allocation Details </h4>
            </div>
            <div class="col-lg-6" align=right *ngIf="role=='delivery' || role=='rm'">
              <span><img src="/assets/img/clock-add.png" style="width:25px;height:15px;">&nbsp;New Allocation &nbsp;
              </span>
              <span><img src="/assets/img/clock-edit.png" style="width:25px;height:15px;">&nbsp;Modify Allocation &nbsp;
              </span>
              <span><img src="/assets/img/clock-delete.png" style="width:25px;height:15px;">&nbsp;Release &nbsp;</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div style="overflow-x:auto;">
              <table class="table table-striped table-hover comm_table">
                <thead class="thead-dark">
                  <tr>
                    <th>&nbsp; &nbsp; &nbsp; &nbsp; <span i18n="@@Project name"> </span></th>
                    <th> <span i18n="@@DOJ"> </span></th>
                    <th> <span i18n="@@Date of Release"> </span></th>
                    <th> <span i18n="@@% of allocation"> </span></th>
                    <th *ngIf="role=='delivery'"><span i18n="@@Release"> </span></th>
                </thead>
                <tbody>
                  <tr *ngIf="Allocations.length==0">
                    <td *ngIf="role!='delivery'" colspan="4">No records Found</td>
                    <td *ngIf="role=='delivery'" colspan="5">No records Found</td>
                  </tr>
                  <tr *ngFor="let item of Allocations | paginate :{id:'data',itemsPerPage: 20 , currentPage: p  }">
                    <td *ngIf="role=='delivery' || role=='rm'">

                      <img matTooltip="Allocate"
                        aria-label="Button that displays a tooltip when focused or hovered over"
                        src="/assets/img/clock-add.png" hspace=0 *ngIf="item.create_allocation_status=='Pending'"
                        style="width:25px;height:15px;">

                      <img matTooltip="Release" aria-label="Button that displays a tooltip when focused or hovered over"
                        src="/assets/img/clock-delete.png" hspace=0 *ngIf="item.release_allocation_status=='Pending'"
                        style="width:25px;height:15px;">

                      <img matTooltip="Modify Allocation"
                        aria-label="Button that displays a tooltip when focused or hovered over"
                        src="/assets/img/clock-edit.png" hspace=0 *ngIf="item.modify_allocation_status=='Pending'"
                        style="width:25px;height:15px;">

                      <i class="material-icons icon_mat" style="color:transparent" *ngIf="item.status!='Pending'">
                        restore</i>
                      <i class="material-icons icon_mat" style="color:transparent" *ngIf="item.status!='Pending'">
                        add</i>

                      <!-- <img src="/assets/img/clock-add.png" style="display: none" *ngIf="item.status!='Pending'"> -->
                      <!-- <i class="material-icons icon_mat" *ngIf="item.status=='Pending'"> restore</i> -->
                      <!-- <i class="material-icons icon_mat" style="color:transparent" *ngIf="item.status!='Pending'">
                        restore</i> -->

                      <a [routerLink]="['/dashboard/Resource/Allocate']"
                        [queryParams]="{'project':item.name,'employee': EmployeeModel.name,'project_code':item.project_code,'employee_code':item.employee_code,'reqID':item.id,'employee_id':employee_id}">
                        {{item.name}}
                      </a>

                    </td>
                    <td *ngIf="role!='delivery' && role!='rm'">{{item.name}}</td>
                    <td>{{item.doa | date:'dd/MM/yyyy':'+530'}}</td>
                    <td>{{item.planned_release_date | date:'dd/MM/yyyy':'+530'}}</td>
                    <td class="right-celll">{{item.percentage_allocation | number :'1.2-2' }}</td>
                    <td *ngIf="role=='delivery'" style="width: 12%">
                      <!--button mat-raised-button color="secondary" type="button" *ngIf="role=='delivery'"
                          (click)="Release(item)" style="width: 100%"><i class="fa fa-sign-out" aria-hidden="true"></i>
                        </button-->
                      <i class="material-icons" aria-hidden="true"
                        [ngClass]="(item.status=='Pending')?'disableClick':''"
                        (click)="item.status!='Pending'?Release(item):''">exit_to_app</i>
                      <!-- <mat-icon style="cursor: pointer" (click)="ReleaseResource(item)">exit_to_app</mat-icon> -->
                    </td>
                  </tr>
                  <!-- <tr>
                    <td><a href="#" [routerLink]="['/dashboard/Resource/Allocate']"
                        [queryParams]="{ project:'Enit',employee: employee}">Enit</a></td>
                    <td>13/01/2019</td>
                    <td>21/02/2019</td>
                    <td>4</td>
                  </tr> -->
                </tbody>
              </table>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="role=='delivery' || role=='rm' ">
            <div class="col-lg-4">
              <button type="button" class="assign" mat-stroked-button color="primary" (click)="AllocateProject()">Assign</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<button  [hidden]="true" mat-raised-button color="secondary" type="submit" data-toggle="modal"
  data-target="#ReleaseResource" id="ReleaseResourceButton" ReleaseResource> </button>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="ReleaseResource" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="text-center">Release Resource</h4>
        <hr>
        <div class="row">
          <div class="col-lg-6 ">
            <div class="example-full-width">
              <mat-form-field>
                <input matInput placeholder="Name" name="releaseName" [(ngModel)]="EmployeeModel.name"
                  autocomplete="off">

              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="example-full-width">
              <mat-form-field>
                <input matInput [matDatepicker]="picker10" [min]="MINdate" placeholder="Release Date" name="releaseDate"
                  [(ngModel)]="dor" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                <mat-datepicker #picker10></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 ">
            <div class="example-full-width">
              <mat-form-field>
                <mat-select placeholder="Rating" name="releaseRating" [(ngModel)]="rating">
                  <mat-option *ngFor="let item of ratinglist" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="example-full-width">
              <mat-form-field>
                <input matInput placeholder="FeedBack" name="releaseFeedBack" [(ngModel)]="feedback" autocomplete="off">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <button mat-raised-button type="button" color="secondary" data-dismiss="modal">Close</button>
          </div>
          <div class="col-lg-4 pull-right offset-sm-4"><button type="button" class="pull-right" mat-stroked-button
              color="primary" (click)="ReleaseConfirm()" data-dismiss="modal"> Confirm <i class="fa fa-long-arrow-right"
                aria-hidden="true"></i></button></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Search Project -->
<button id="openModalButton1" type="button" [hidden]="true" data-toggle="modal" data-target="#myModal2">
</button>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" i18n="@@Search Project">{{pname}} </h4>
        <button type="button" (click)="hideGrid()" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
            <form class="example-form" [formGroup]="ProjectForm">
              <div class="row">
                <div class="col-lg-4">
                  <div class="example-full-width">
                    <mat-form-field>
                      <input matInput placeholder="Project name" i18n-placeholder="@@Project name"
                        formControlName="projectName" [(ngModel)]="searchData.project_name" autocomplete="off">
                      <!-- <control-messages class="validation-color" [control]="DataForm.controls.projectName" [parent]="'Project Name'"></control-messages>-->
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="example-full-width">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker4" placeholder="Start date" i18n-placeholder="@@Start Date"
                        formControlName="startDate" [(ngModel)]="searchData.start_date" autocomplete="off">
                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="example-full-width">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker9" placeholder="End Date" i18n-placeholder="@@End Date"
                        formControlName="endDate" [(ngModel)]="searchData.end_date" autocomplete="off">
                      <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                      <mat-datepicker #picker9></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="example-full-width">
                    <mat-form-field>
                      <mat-select placeholder="Nature of Project" i18n-placeholder="@@Nature of Project"
                        formControlName="natureofProject" [(ngModel)]="searchData.nature">

                        <mat-option value="9*5">9*5</mat-option>
                        <mat-option value="24*5">24*5</mat-option>
                        <mat-option value="24*6">24*6</mat-option>
                        <mat-option value="24*7">24*7</mat-option>
                        <!-- <control-messages class="validation-color" [control]="DataForm.controls.natureofProject" [parent]="'Nature oF Project'"></control-messages>-->

                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="example-full-width">
                    <mat-form-field>
                      <mat-select placeholder="Client" i18n-placeholder="@@Client" formControlName="client"
                        [(ngModel)]="searchData.client">
                        <mat-option *ngFor="let option of ClientList" [value]="option.client">{{option.client}}
                        </mat-option>

                        <!-- <control-messages class="validation-color" [control]="DataForm.controls.client" [parent]="'client'"></control-messages>-->

                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="example-full-width">
                    <mat-form-field>
                      <mat-select placeholder="City" i18n-placeholder="@@City" formControlName="city"
                        [(ngModel)]="searchData.city">

                        <mat-option *ngFor="let item of CityList" [value]="item.city">{{item.city}}</mat-option>

                        <!-- <control-messages class="validation-color" [control]="DataForm.controls.location" [parent]="'location'"></control-messages>-->

                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="example-full-width">
                    <mat-form-field>
                      <mat-select placeholder="Area" i18n-placeholder="@@Area" formControlName="area"
                        [(ngModel)]="searchData.area">
                        <!-- <control-messages class="validation-color" [control]="DataForm.controls.area" [parent]="'Area'"></control-messages> -->

                        <mat-option *ngFor="let item of AreaList" [value]="item.area">{{item.area}}</mat-option>

                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-lg-1 col-sm-2 col-md-2">
                  <button type="button" mat-stroked-button color="primary" (click)="onSearchP()">
                    <span i18n="@@Search"> </span>
                  </button>
                </div>&nbsp;
                &nbsp;
                <div class="col-lg-1 col-sm-2 col-md-2">
                  <button  mat-raised-button type="reset" color="secondary" (click)="hideGrid()"
                    i18n="@@Reset"> </button>
                </div>
              </div> -->
              <div class="row">
                  <div class="col-sm-2 col-md-2 col-lg-2">
                    <button type="button" mat-stroked-button  color="primary" i18n="@@Search" (click)="onSearchP()">
                    </button>
                  </div>&nbsp;
                  &nbsp;&nbsp;<div class="col-sm-2  col-lg-2">
                    <button  mat-raised-button  type="reset" color="secondary" (click)="hideGrid()" i18n="@@Reset"> </button>
                  </div>
                </div>
            </form>
          </div>
        </div>
        <div class="row" *ngIf="showGrid">
          <div class="col-lg-12">
              <div style="overflow-x:auto;">
            <table class="table table-striped table-hover comm_table">
              <thead class="thead-dark">
                <tr>
                  <th> <span i18n="@@Project name"> </span>
                  </th>
                  <th>
                    <span i18n="@@Start Date"> </span></th>
                  <th>
                    <span i18n="@@End Date"> </span></th>
                  <th>
                    <span i18n="@@Nature of Project"> </span></th>
                  <th>
                    <span i18n="@@Client"> </span></th>
                  <th>
                    <span i18n="@@City"> </span></th>
                  <th>
                    <span i18n="@@Area"> </span></th>
                  <th>
                    <span i18n="@@Resource Count"> </span></th>
                  <th>
                    <span i18n="@@Select"> </span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of Projects | paginate :{id:'pager',itemsPerPage: 5 , currentPage: p1  }">

                  <td [title]="item.project_name">{{item.project_name | regMatch}} </td>
                  <td>{{item.start_date | date:'dd/MM/yyyy':'+530'}}</td>
                  <td>{{item.end_date | date:'dd/MM/yyyy':'+530'}}</td>
                  <td>{{item.nature_of_project}}</td>
                  <td>{{item.client}} </td>
                  <td>{{item.city}} </td>
                  <td>{{item.area}} </td>
                  <td class="right-celll">{{item.resource_count}}</td>
                  <td>
                    <!-- <button mat-raised-button color="secondary" type="button"
                        (click)="AllocateProject(item)" data-dismiss="modal" style="width: 100%" i18n="@@Select">
                      </button> -->
                    <i *ngIf="item.project_name!='COE'" class="material-icons icon_mat green" data-dismiss="modal"
                      (click)="AllocateResourceProject(item)">
                      how_to_reg
                    </i>
                    <!-- <mat-icon style="cursor: pointer" data-dismiss="modal" (click)="AllocateProject(item)">
                        assignment_turned_in</mat-icon> -->
                  </td>
                </tr>
                <tr *ngIf="Projects.length == 0">
                  <td colspan="10">No Data Found</td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
          <div class="col-sm-7"></div>
          <div class="col-sm-5">
            <pagination-controls id='pager' (pageChange)="p1 = $event"></pagination-controls>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" i18n="@@Close"> </button>
        </div> -->
    </div>
  </div>
</div>


<!-- Allocate Modal -->

<button id="openAllocateModalButton" type="button" [hidden]="true" data-toggle="modal" data-target="#AllocateModal">
</button>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="AllocateModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Allocation Details</h4>
        <button type="button" class="close" data-dismiss="modal" id="AllocationDismiss">&times;</button>
      </div>
      <div class="modal-body">
        <form class="example-form" [formGroup]="DSForm" >
          <!-- <h4 style="font-weight: bold">{{Heading +'\n:\n'+rname+'\n:\n'+pname}}</h4> -->
          <!-- <h4 style="font-weight: bold">{{Heading +'\n:\n'+rname+'\n:\n'+pname}}</h4> -->



          <ngx-loading [show]="loading"></ngx-loading>
          <div class="row">
            <div class="col-lg-4">
              <mat-form-field class="example-full-width">
                <input type="text" readonly placeholder="resource" i18n-placeholder="@@Select resource"
                  formControlName="resource" aria-label="Number" matInput name="selectResource"
                  [(ngModel)]="request.employee_name" autocomplete="off">

              </mat-form-field>

            </div>
            <div class="col-lg-4">
              <mat-form-field class="example-full-width">
                <input type="text" readonly placeholder="Project" i18n-placeholder="@@Project" aria-label="Number"
                  formControlName="project" matInput name="project" [ngModel]="request.project_name  | regMatch"
                  autocomplete="off" [title]="request.project_name">
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field class="example-full-width">
                <input type="text" readonly placeholder="Project Code" i18n-placeholder="@@Project Code"
                  aria-label="Number" formControlName="project_code" matInput name="project"
                  [(ngModel)]="request.project_code" autocomplete="off">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Onsite/Offshore" i18n-placeholder="@@Onsite/offshore"
                  formControlName="onsiteOffshore" aria-label="Number" matInput 
                  name="onsiteOffshore" [(ngModel)]="request.onsite_offshore" autocomplete="off">
                
                  <mat-option value="onsite">Onsite</mat-option>
                  <mat-option value="offshore">Offshore</mat-option>
                </mat-select>
              </mat-form-field>
              <control-messages class="validation-color" [control]="DSForm.controls.onsiteOffshore"
                [parent]="'Onsite Offshore'"></control-messages>
            </div>
            <div class="col-lg-4">
              <div class="example-full-width">
                <mat-form-field>
                  <mat-select placeholder="Work Location City" i18n-placeholder="@@Work Location City"
                    formControlName="location_city" name="billingRate" [(ngModel)]="request.city">
                    <mat-option *ngFor="let item of CityList" [value]="item.city">{{item.city}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DSForm.controls.location_city"
                  [parent]="'Work location City'"></control-messages>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="example-full-width">
                <mat-form-field>
                  <mat-select placeholder="Work Location Area" i18n-placeholder="@@Work Location Area"
                    formControlName="location_area" name="billingRate" [(ngModel)]="request.area">

                    <mat-option *ngFor="let item of AreaList" [value]="item.area">{{item.area}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DSForm.controls.location_area"
                  [parent]="'Work location Area'"></control-messages>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input matInput placeholder="Billing Rate" i18n-placeholder="@@Billing Rate" name="billingRate"
                    formControlName="billingRate" [(ngModel)]="request.billing_rate" autocomplete="off">
                  <span matPrefix><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;</span>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DSForm.controls.billingRate"
                  [parent]="'Billing Rate'"></control-messages>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="example-full-width">
                <mat-form-field>
                  <mat-select placeholder="Billing Status" i18n-placeholder="@@Billing Status" name="billingStatus"
                    formControlName="billingStatus" [(ngModel)]="request.billing_status">
                    <mat-option *ngFor="let item of billingStats" [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <control-messages class="validation-color" [control]="DSForm.controls.billingStatus"
                  [parent]="'Billing Status'"></control-messages>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input matInput placeholder="% Allocation" i18n-placeholder="@@% of allocation"
                    formControlName="percentageofallocation" name="percentAllocation"
                    [(ngModel)]="request.percentage_allocation" autocomplete="off">
                </mat-form-field>
                <control-messages class="validation-color" [control]="DSForm.controls.percentageofallocation"
                  [parent]="'% of allocation'"></control-messages>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input matInput placeholder="Total Allocation" readonly formControlName="toatalpercentageofallocation"
                    name="totalpercentAllocation" [ngModel]="request.total_percentage_allocation |number:'1.2-2'" autocomplete="off">

                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker6" placeholder="DOA" i18n-placeholder="@@DOA"
                    [(ngModel)]="request.doa" formControlName="doa" [max]="MAXdate" [min]="MINdate" autocomplete="off" (dateChange)="DOAChange($event)">
                  <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                  <mat-datepicker #picker6></mat-datepicker>
                  <!-- <input matInput placeholder="DOA" i18n-placeholder="@@DOA" name="doa" [(ngModel)]="request.doa" formControlName="doa"> -->
                </mat-form-field>
                <control-messages class="validation-color" [control]="DSForm.controls.doa"
                  [parent]="'Date Of Assignment'"></control-messages>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="example-full-width">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker7" [min]="MINdate" [max]="MAXdate" placeholder="Planned Release Date"
                    i18n-placeholder="@@Planned Release Date" [(ngModel)]="request.planned_release_date"
                    formControlName="planned_release_date" autocomplete="off">
                  <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                  <mat-datepicker #picker7></mat-datepicker>
                  <!-- <input matInput placeholder="Planned Release Date" i18n-placeholder="@@Planned Release Date" formControlName="planned_release_date"
                            name="planned_release_date" [(ngModel)]="request.planned_release_date"> -->
                </mat-form-field>
                <control-messages class="validation-color" [control]="DSForm.controls.planned_release_date"
                  [parent]="'Planned Release Date'"></control-messages>
              </div>
            </div>
            <!-- <div class="col-lg-4">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Primary Skill" i18n-placeholder="@@Primary Skills"
                  formControlName="primarySkills" aria-label="Number" matInput [(ngModel)]="request.primary_skill">

                  <mat-option *ngFor="let option of PrimarySkillListM" [value]="option">
                    {{option}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
          </div>
          <!-- <div class="row">
            <div class="col-lg-4">
              <div class="example-container">
                <mat-form-field>
                  <mat-select placeholder="Secondary Skill" i18n-placeholder="@@Secondary Skills"
                    formControlName="secondarySkills" [(ngModel)]="request.secondary_skill">

                    <mat-option *ngFor="let option of SecondarySkillListM" [value]="option">
                      {{option}}</mat-option>

                  </mat-select>
                </mat-form-field>

              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-lg-4">
              <button type="button" mat-stroked-button color="primary" [disabled]="!DSForm.valid"
                (click)="AllocateSubmit()">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <br>
<br>
<div class="card">
  <div class="card-body">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Bhavcopy</label>
        <div class="col-sm-9">
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" (change)="selectFile($event)" placeholder="Upload file" accept=".csv">
            <label class="custom-file-label">Choose file</label>
          </div>
        </div>
      </div>
     <hr>
      <div class="form-group row">
        <div class="col-sm-12" align="center">
          <button [disabled]="!selectedFiles" (click)="uploadFile()" 
            class="btn w-30 w-sm-80 m-3 btn-round btn-primary">
            <i class="material-icons">send</i>Upload
          </button>
          <button type="reset" class="btn w-30 w-sm-80 m-3 btn-round btn-info">
            <i class="material-icons">undo</i>Reset
          </button>
          <button type="button" class="btn w-30 w-sm-80 m-3 btn-round btn-default">
            <i class="material-icons">clear</i>Cancel
          </button>
        </div>
      </div>
  </div>
</div> -->