body { font-size: 13px; }
.example-full-width {
    width: 100%;
  }
  
  .example-full-width > *{
    width: 100%;
  }
  .example-container > * {
    width: 100%;
  }
  .mat-form-field-infix input[type="text"]{ font-size: 13px !important;}
  .mat-form-field{ font-size: 13px;}
  .example-form { padding: 10px;}
  .min-height{ min-height: 500px;}
  
  .icon_mat{font-size: 15px; color: #666;}
  .disableClick{
    cursor: default;
    color:#b1b1b1
   }

   .assign{
     left: 3.5%;
   }

   input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

 
   